<mat-grid-list cols=1 rows=1>
    <div class="head">
      <p>Boat Bazaar</p>
    </div>
    <mat-card class="bm-card">
        <mat-card-header>
          <div mat-card-avatar class="bm-header-image"></div>
          <mat-card-title>Boat Bazaar</mat-card-title>
          <mat-card-subtitle>User Profile</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="bm-container">
            
            fjds fjfjndsfndsb
            
          </div>
        </mat-card-content>
  
      </mat-card>
  </mat-grid-list>