.head {
<<<<<<< HEAD
    height: calc(150px - 15px);
=======
    height: 150px;
>>>>>>> a9f0e82dea61034e043c2971b347621111b35de7
    background: #2b567b;
  }
  
  .head p {
    color: #adf;
    font-size: 40px;
    margin: 0;
    padding-left: 30px;
    padding-top: 42px;
  }
  
  .example-card {
    width: 500px;
    margin: -60px auto;
  }
    
  .example-header-image {
    background-image: url('/assets/images/icons/ship.png');
    background-size: cover;
  }
  
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  table .mat-form-field {
    width: 160px !important;
  }
  
    
  .example-full-width {
    width: 100%;
  }