.head {
    height: calc(150px - 15px);
    background: #2b567b;
  }
  
  .head p {
    color: #adf;
    font-size: 40px;
    margin: 0;
    padding-left: 30px;
    padding-top: 42px;
  }
  
  .bm-card {
    width: 90%;
    margin: -60px auto;
    
  }

  .border{
    border: 0.5px;
    box-shadow: 5px 10px 8px #888888;
  }

  .sm-card {
    width: 100%;
    margin: 0 10px;
  }

  .sm-card mat-card-content {
    height: 120px !important;
    overflow: hidden;
    text-align: justify;
  }

  .sm-card button {
      width: 100% !important;
  }

  .sm-img {
    height: 220px;
    background-size: cover !important;
    background-position: center !important;
  }
    
  .bm-header-image {
    background-image: url('/assets/images/icons/ship.png');
    background-size: cover;
  }
  
  .bm-container {
    display: flex;
    flex-direction: column;
  }
  
  .bm-container > * {
    width: 100%;
  }
  
  .bm-right-align {
    text-align: right;
  }
  
  input.bm-right-align::-webkit-outer-spin-button,
  input.bm-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.bm-right-align {
    -moz-appearance: textfield;
  }
  
  table .mat-form-field {
    width: 160px !important;
  }
  
  .btn-color{
    background: #660033;
    color : white
  }


  .bm-full-width {
    width: 100%;
  }

  .W100 {
    width: 100%;
  }

  .W50 {
    width: 50%;
    float: left;
  }

  .sel {
    border: 1px solid #2b567b !important;
    padding: 6px;
    border-radius: 3px !important;
    width: 100px;
  }