<!-- 
     Created on Sat Feb 03 2018
     Niwesh Chandra Rai 
     Reference : https://material.angular.io/> 
-->

<mat-grid-list cols="4">
  <div>
    <button mat-raised-button (click)="onLogout()" class="log-out">Logout</button>
  </div>

    <div class="head"></div>
    <mat-card class="bm-card">
        <mat-card-header >
          <div mat-card-avatar class="bm-header-image"></div>
          <mat-card-title>Boat Bazaar</mat-card-title>
          <mat-card-subtitle>List of featured Boats</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content  >
            <div class="w100" style="padding: 0 0 0 10px;">
            <p>
              Sort:
              <mat-select class="sel" [ngModel]="selectedValue">
                  <mat-option *ngFor="let category of categories" [value]="category" (click) = "searchByCat(category)">
                    {{ category }}
                  </mat-option>
              </mat-select>
            </p>
          </div>
          <div class="bm-container ">
              <mat-grid-list [cols]="tabs" rowHeight="1:1.7" (window:resize)="onResize($event)">
                  <mat-grid-tile cols=1 rows=1 *ngFor="let boat of boats">
                      <mat-card class="sm-card border">
                          <div  mat-card-image class="sm-img" [style.background-image]="boat.boatImage[0] | keepCss" alt="boat.name"></div>
                          <mat-card-content >
                            <p>{{boat.name}}</p>
                            <p>{{boat.categories}}</p>
                            <p>{{boat.description}}</p>
                            <p>{{boat.price}}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-raised-button class = "btn-color" (click) = "getBoatInfo(boat._id)">View</button>
                          </mat-card-actions>
                        </mat-card>
                  </mat-grid-tile>
              </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
      
  </mat-grid-list>
