.layout-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 150px;
    max-width: 500px;
    width: 400px;

}

  .head1{
    margin-left: 50px;
    font-family: sans-serif
  }

  .head {
    height: calc(150px - 64px);
    background: #2b567b;
  }
  
  .head p {
    color: #adf;
    font-size: 40px;
    margin: 0;
    padding-left: 30px;
    padding-top: 42px;
  }

  .button{
    margin-right: 50px;
    text-align: right;
  }

  .input-form {   
    
    margin-left: 50px;
    width: 300px;
    margin-bottom: 35px;
  }

  .logo {
    font-size: 30px;
    position: relative;
    top: 18px;
    left: 14px;
}

.mat-toolbar.mat-primary {
    background: #2b567b !important;
    color: #ade0ff;
}

  