/* .c-nav {
    position: absolute;
    float: right;
    right: 10px;
    z-index: 1;
} */

.e-icon {
    padding: 0 14px;
}

.e-spacer {
    flex: 1 1 auto;
}

span {
    outline: none !important;
    cursor: pointer;
    font-size: 14px;
}

.logo {
    font-size: 30px;
    position: relative;
    top: 18px;
    left: 14px;
}

.mat-toolbar.mat-primary {
    background: #2b567b !important;
    color: #ade0ff;
}