<!-- main app container -->
<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
    <mat-toolbar-row>
        <span class="logo" [routerLink]="['home']">Boat Bazaar</span>
        <span class="e-spacer"></span>
        <span [routerLink]="['home']">HOME &nbsp;&nbsp;| &nbsp;&nbsp;</span>
        <span [routerLink]="['notices']">NOTICES &nbsp;&nbsp;| &nbsp;&nbsp;</span>
        <span [routerLink]="['boat/mine']">MY BOATS &nbsp;&nbsp;| &nbsp;&nbsp;</span>
        <span [routerLink]="['boat/form']">ADD BOAT &nbsp;&nbsp;| &nbsp;&nbsp;</span>
        <span [routerLink]="['profile']">{{haveUserName$ | async}}</span>
        <mat-icon class="e-icon" (click) = logout() style="cursor: pointer;">exit_to_app</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>