<mat-grid-list cols="4">
    <div class="head"></div>
    <mat-card class="bm-card">
        <mat-card-header>
          <div mat-card-avatar class="bm-header-image"></div>
          <mat-card-title>Boat Bazaar</mat-card-title>
          <mat-card-subtitle>All Notices</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <mat-list>
                <h3 mat-subheader>SALES INFORMATION</h3>
                <div *ngFor="let sale of sales">
                    <mat-list-item>
                      <p style="cursor:pointer;" mat-line (click)="getBoatInfo(sale?.boat)">
                        Boat with id {{sale?.boat}} on {{sale?.createdDate | date}}
                      </p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
                <h3 mat-subheader>PURCHASE INFORMATION</h3>
                <div *ngFor="let purchase of purchases">
                    <mat-list-item>
                      <p style="cursor:pointer;" mat-line (click)="getBoatInfo(purchase?.boat)">
                        Boat with id {{purchase?.boat}} on {{purchase?.createdDate | date}}
                      </p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
              </mat-list>
      </mat-card-content>
    </mat-card>

  </mat-grid-list>