<div class="footer">
  <div class="fab text-right">    
    <!--<nav class="navbar navbar-light">-->
      <span class="navbar-text">Follow Us:</span>
      <a class="navbar-brand" target="_blank" href="http://www.facebook.com">
        <img src="../../assets/images/icons/facebook.png" width="25" height="25" alt="">
      </a>
      <a class="navbar-brand" target="_blank" href="http://www.twitter.com">
        <img src="../../assets/images/icons/twitter.png" width="25" height="21" alt="">
      </a>
      <a class="navbar-brand" target="_blank" href="http://www.linkedin.com">
        <img src="../../assets/images/icons/linkedin.png" width="25" height="25" alt="">
      </a>
      <a class="navbar-brand" target="_blank" href="http://www.pinterest.com">
        <img src="../../assets/images/icons/pinterest.png" width="25" height="25" alt="">
      </a>
    <!--</nav>-->
  </div>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" pageScroll href="#who_we_are">Who We Are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="#how_it_work">How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="#what_people_are_saying">What People Are Saying</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms & Conditions</a>
        </li> 
      </ul>    
    </div>
  </nav>
  
   <div class="text-right">    
    <span class="navbar-text footer-logo">
      Copyright 2018, Boat Bazaar
    </span>
  </div>
</div>