<mat-grid-list cols="4">
    <div class="head"></div>
  <mat-card class="bm-card">
      <mat-card-header>
        <div mat-card-avatar class="bm-header-image"></div>
        <mat-card-title>Boat Bazaar</mat-card-title>
        <mat-card-subtitle>List of Boats Owned</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="bm-container">
          
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
</mat-grid-list>